---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ctxforge.ctxforge.io
  resources:
  - headerpropagationpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ctxforge.ctxforge.io
  resources:
  - headerpropagationpolicies/finalizers
  verbs:
  - update
- apiGroups:
  - ctxforge.ctxforge.io
  resources:
  - headerpropagationpolicies/status
  verbs:
  - get
  - patch
  - update
